
.icon-user:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-lock-open:before { content: '\e804'; } /* '' */
.icon-upload-cloud:before { content: '\e805'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e806'; } /* '' */
.icon-lock-open-filled:before { content: '\e807'; } /* '' */
.icon-lock-open-1:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-headphones:before { content: '\e80a'; } /* '' */
.icon-stopwatch:before { content: '\e80b'; } /* '' */
.icon-phone-1:before { content: '\e80c'; } /* '' */
.icon-phone-outline:before { content: '\e80d'; } /* '' */
.icon-graduation-cap:before { content: '\e80e'; } /* '' */
.icon-graduation-cap-1:before { content: '\e80f'; } /* '' */
.icon-cog-outline:before { content: '\e810'; } /* '' */
.icon-cog-1:before { content: '\e811'; } /* '' */
.icon-cog-2:before { content: '\e812'; } /* '' */
.icon-cog-3:before { content: '\e813'; } /* '' */
.icon-phone-2:before { content: '\e814'; } /* '' */
.icon-headphones-1:before { content: '\e815'; } /* '' */
.icon-phone-3:before { content: '\e816'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-renren:before { content: '\f18b'; } /* '' */
.icon-renren-1:before { content: '\f33c'; } /* '' */