@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?17426862');
  src: url('../font/fontello.eot?17426862#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?17426862') format('woff2'),
       url('../font/fontello.woff?17426862') format('woff'),
       url('../font/fontello.ttf?17426862') format('truetype'),
       url('../font/fontello.svg?17426862#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?17426862#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-lock-open:before { content: '\e804'; } /* '' */
.icon-upload-cloud:before { content: '\e805'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e806'; } /* '' */
.icon-lock-open-filled:before { content: '\e807'; } /* '' */
.icon-lock-open-1:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-headphones:before { content: '\e80a'; } /* '' */
.icon-stopwatch:before { content: '\e80b'; } /* '' */
.icon-phone-1:before { content: '\e80c'; } /* '' */
.icon-phone-outline:before { content: '\e80d'; } /* '' */
.icon-graduation-cap:before { content: '\e80e'; } /* '' */
.icon-graduation-cap-1:before { content: '\e80f'; } /* '' */
.icon-cog-outline:before { content: '\e810'; } /* '' */
.icon-cog-1:before { content: '\e811'; } /* '' */
.icon-cog-2:before { content: '\e812'; } /* '' */
.icon-cog-3:before { content: '\e813'; } /* '' */
.icon-phone-2:before { content: '\e814'; } /* '' */
.icon-headphones-1:before { content: '\e815'; } /* '' */
.icon-phone-3:before { content: '\e816'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-renren:before { content: '\f18b'; } /* '' */
.icon-renren-1:before { content: '\f33c'; } /* '' */