/* ---------- specification ---------- */

@font-face {
  src: url('../fonts/fontello.woff');
  font-family: 'fontello';
}
    
html {
    font-size: 10px;
}
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0;
}


/*----------HEADER-----------*/
.header{
    background-image: url('../img/Home_Background.png');
    height: 770px;
    background-size: cover;
}
  .main_name{
    float: left;
    font-size: 2.4rem;
    margin-top: 40px;
    color: #fff;
  }
  .menu{
    float: right;
    padding-top: 50px;
  }
  .menu__input {
    display: inline-block;
    font-size: 1.35rem;
    padding: 0 17px;
    &:hover {
      color: #fff;
    }
  }
  
  .menu__link {
    display: block;
    text-decoration: none;
    color: #fff;
  }
  
  .menu__input:hover .menu__link {
    color: #6d7980;
  }
  .header__name{
    text-align: center;
    color: #fff;
  }
  .header__title{
    font-size: 4.8rem;
    padding-top: 265px;
    padding-bottom: 40px;
  }
  .header__paragraph{
    font-size: 2rem;
    padding-bottom: 80px;
  }
  .header__button{
    font-size: 1.6rem;
    text-decoration: none;
    padding: 20px 50px;
    border: solid 3px;
    margin-bottom: 260px;
    color: #fff;
    &:hover{
      color: #6d7980;
    }
  }


  /*--------SERVICESS----------*/

  .servicess__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }
  .servicess__name{
    width: 100%;
    color: #555555;
  }
  .servicess__title{
    font-size: 2rem;
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .border{
    margin: 0 auto;
    width: 52px;
    height: 3px;
  }
  .servicess__paragraph{
    font-size: 1.6rem;
    padding-top: 30px;
    padding-bottom: 75px;
  }
  .CleanTypography{
    width: 30%;
    &:hover .CleanTypography__icon{
      color: #fff;
      background-color: #c0301c;
    }
  }
  .CleanTypography__icon{
  font-size: 4rem;
  font-family: 'fontello';
  padding: 20px;
  margin: 0 130px;
  color: #c0301c;
  border: solid 1px #555555;
  border-radius: 50%; 
  margin-bottom: 30px;
  }
  .CleanTypography__text{
    font-size: 1.4rem;
    color: #555555;
    margin-bottom: 100px;
  }
  .CleanTypography__title{
    margin-bottom: 30px;
  }
  .RockCode{
    width: 30%;
    &:hover .RockCode__icon{
      color: #fff;
      background-color: #c0301c;
    }
  }
  .RockCode__icon{
    font-size: 4rem;
    font-family: 'fontello';
    padding: 20px;
    margin: 0 130px;
    color: #c0301c;
    border: solid 1px #555555;  
    border-radius: 50%; 
    margin-bottom: 30px;
  }
  .RockCode__text{
    font-size: 1.4rem;
    color: #555555;
    margin-bottom: 100px;
  }
  .RockCode__title{
    margin-bottom: 30px;
  }
  .ExpertSupport{
    width: 30%;
    &:hover .ExpertSupport__icon{
      color: #fff;
      background-color: #c0301c;
    }
  }
  .ExpertSupport__icon{
    font-family: 'fontello';
    font-size: 4rem;
    padding: 20px;
    color: #c0301c;
    margin: 0 130px;
    border: solid 1px #555555;
    border-radius: 50%;  
    margin-bottom: 30px;
  }
  .ExpertSupport__text{
    font-size: 1.4rem;
    color: #555555;
    margin-bottom: 100px;
  }
  .ExpertSupport__title{
    margin-bottom: 30px;
  }



  /*-----ABOUT US------------*/

  .AboutUs{
    background-color: #f8f8f8;
  }
  .AboutUs__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }
  .AboutUs__name{
    width: 100%;
    color: #555555;
  }
  .AboutUs__title{
    font-size: 2rem;
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .AboutUs__paragraph{
    font-size: 1.6rem;
    padding-top: 30px;
    padding-bottom: 75px;
  }
  .AboutUs__info{
    width: 45%;
    text-align: left;
    font-size: 1.4rem;
    padding-bottom: 75px;
  }
  .BGforHover__Uddin, .BGforHover__Miah, 
  .BGforHover__Mia, .BGforHover__Doe{
    visibility: hidden;
  }
  .social__icons_Uddin, .social__icons_Miah,
  .social__icons_Mia, .social__icons_Doe{
    font-family: 'fontello';
    font-size: 1.6rem;
    text-decoration: none;
    padding: 5px;
    position: relative;
    bottom: 50px;
    left: 80px;
    color: #fff;
    visibility: hidden;
    &:hover{
      background-color: #c0301c;
    }
  }
  .Uddin:hover .BGforHover__Uddin{
    visibility: visible;
  }
  .Uddin:hover .social__icons_Uddin{
    visibility: visible;
  }
  .Miah:hover .BGforHover__Miah{
    visibility: visible;
  }
  .Miah:hover .social__icons_Miah{
    visibility: visible;
  }
  .Mia:hover .BGforHover__Mia{
    visibility: visible;
  }
  .Mia:hover .social__icons_Mia{
    visibility: visible;
  }
  .Doe:hover .BGforHover__Doe{
    visibility: visible;
  }
  .Doe:hover .social__icons_Doe{
    visibility: visible;
  }
  .Uddin__img{
    background-image: url("../img/Uddin.png");
    height: 250px;
    width: 263px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Miah__img{
    @extend .Uddin__img;
    background-image: url('../img/Miah.png');
  }
  .Mia__img{
    @extend .Uddin__img;
    background-image: url('../img/mia.png');
  }
  .Doe__img{
    @extend .Uddin__img;
    background-image: url('../img/Doe.png');
  }
  .Uddin__info, .Miah__info,
  .Mia__info,.Doe__info{
    padding-top: 20px;
    margin-bottom: 100px;
  }
  .Uddin__name,.Miah__name,
  .Mia__name,.Doe__name{
    padding-bottom: 20px;
    font-size: 1.4rem;
  }
  .Uddin__work,.Miah__work,
  .Mia__work,.Doe__work{
    font-size: 1.3rem;
  }


  /*-----LATEST WORKS---------*/

  .LatestWorks__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }
  .Works__name{
    width: 100%;
    color: #555555;
  }
  .Works__title{
    font-size: 2rem;
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .Works__paragraph{
    padding-top: 30px;
    padding-bottom: 75px;
  }
  .Works___filter{
    display: inline;
    padding: 0 15px;
    &:hover .Works___filter_item{
      color: #c0301c;
    }
  }
  .Works___filter_item{
    font-size: 1.6rem;
    text-decoration: none;
    color: #555555;
  }
  .Works___category__one{
    background-image: url('../img/works11.png');
    width: 360px;
    height: 320px;
    background-size: cover;
    margin-bottom: 30px;
    &:hover .category__one_red{
      visibility: visible;
    }
    &:hover .category__one_main{
      visibility: visible;
    }
  }
  .Works___category__two{
    @extend .Works___category__one;
    background-image: url('../img/works12.png');
  }
  .Works___category__three{
    @extend .Works___category__one;
    background-image: url('../img/works13.png');
  }
  .Works___category__four{
    @extend .Works___category__one;
    background-image: url('../img/works21.png');
  }
  .Works___category__five{
    @extend .Works___category__one;
    background-image: url('../img/works22.png');
  }
  .Works___category__six{
    @extend .Works___category__one;
    background-image: url('../img/works23.png');
  }
  .Works___category__seven{
    @extend .Works___category__one;
    background-image: url('../img/works31.png');
  }
  .Works___category__eight{
    @extend .Works___category__one;
    background-image: url('../img/works32.png');
  }
  .Works___category__nine{
    @extend .Works___category__one;
    background-image: url('../img/works33.png');
  }
  .category__one_main{
    position: relative;
    bottom: 210px;
  }
  .category__one_title{
    font-size: 1.8rem;
    padding-bottom: 20px;
    color: #fff;
  }
  .category__one_paragrath{
    font-size: 1.2rem;
    padding-bottom: 30px;
    color: #fff;
  }
  .category__one_button_link{
    font-size: 1.4rem;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #fff;
    color: #c0301c;
  }
  .button__icon{
    font-family: 'fontello';
  }
  .category__one_red{
    visibility: hidden;
  }
  .category__one_main{
    visibility: hidden;
  }


  /*------Your Project---------*/

  .YourProject{
    background-image: url('../img/YourProjectBG.png');
    height: 369px;
    &:hover .YourProjectBGRed{
      visibility: visible;
    }
    &:hover .YourProject__content{
      visibility: visible;
    }
  }
  .YourProjectBGRed{
    visibility: hidden;
    height: 369px;
    width: 100%;
  }
  .YourProject__content{
    text-align: center;
    position: relative;
    bottom: 265px;
    visibility: hidden;
  }
  .OurWork{
    font-size: 3rem;
    color: #fff;
  }
  .YourWork{
    font-size: 3rem;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #fff;
  }
  .YourProject__button{
    font-size: 1.8rem;
    text-decoration: none;
    padding: 20px 30px;
    color: #c0301c;
    background: #fff;
  }

  /*------BLOG---------*/

  .Blog__content{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .Blog__name{
    @extend .AboutUs__name;
  }
  .Blog__title{
    @extend .AboutUs__title;
  }
  .Blog__paragraph{
    @extend .AboutUs__paragraph;
  }
  .Blog__post_one{
    display: flex;
    flex-direction: row;
  }
  .post_one_img{
    background-image: url('../img/YourProjectOneBG.png');
    height: 322px;
    width: 460px;
    background-size: cover;
  }
  .post_one_content{
    width: 1140-460px;
  }
  .post__date{
    font-size: 2.4rem;
    padding: 20px;
    border: solid 3px #555555;
    width: 75px;
    height: 75px;
  }
  .post__name{
    font-size: 1.6rem;
  }
